<section class="animated sub-campaign-section">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="panel panel-info">

          <div class="row">

            <!-- left col -->
            <div class="col-md-6">
              <div class="panel-body">
                <div class="asset-item pull-left" *ngFor="let item of subCampaign[assetType]">
                  <div *ngIf="item.height > item.width && item.product === productType">
                    <img src="{{item?.thumbnail}}"  (click)="onAssetClicked(item)">

                    <div class="asset-item-details">
                      <p><i class="fa fa-play-circle" aria-hidden="true" (click)="onAssetClicked(item)"></i> preview</p>
                      <input type="checkbox"  #cb1 name="{{item.id}}"
                             (change)="addAssetToRequestsCollection(item, cb1, subCampaign.id, requestItems);
                             requestsService.toggleOnTypeChange(requestsService.requestsCollection, productType, subCampaign.id)"
                             [(ngModel)]="item.selected">
                      <span *ngIf="assetType == 'banners'">
                        {{item.width}} X {{item.height}}
                      </span>
                      <span *ngIf="assetType == 'videos'">
                        {{item.title}} sec
                      </span>
                    </div><!--/.asset-item-details-->
                  </div><!--/*ngIf-->

                </div><!--/.asset-item-->
              </div><!--/.panel-body-->
            </div><!--/.col-md-6-->

            <!-- right col -->
            <div class="col-md-6">
              <div class="panel-body">
                <div class="asset-item pull-left" *ngFor="let item of subCampaign[assetType]">
                  <div *ngIf="item.height <= item.width && item.product === productType">
                    <img src="{{item?.thumbnail}}" style="max-width: 300px; height: auto" (click)="onAssetClicked(item)">

                    <div class="asset-item-details">
                      <p><i class="fa fa-play-circle" aria-hidden="true" (click)="onAssetClicked(item)"></i> preview</p>
                      <input type="checkbox"  #cb1 name="{{item.id}}"
                             (change)="addAssetToRequestsCollection(item, cb1, subCampaign.id, requestItems);
                        requestsService.toggleOnTypeChange(requestsService.requestsCollection, productType, subCampaign.id)"
                             [(ngModel)]="item.selected">
                      <span *ngIf="assetType == 'banners'">
                        {{item.width}} X {{item.height}}
                      </span>
                      <span *ngIf="assetType == 'videos'">
                        {{item.title}} sec
                      </span>
                    </div><!--/.asset-item-details-->
                  </div><!--/*ngIf-->

                </div><!--/.asset-item-->
              </div><!--/.panel-body-->
            </div><!--/.col-md-6-->

          </div><!--/.row-->

          <app-campaign-item-footer
            [assetType]="assetType"
            [subCampaign]="subCampaign"
            [productType]="productType"
            [requestItems]="requestItems">
          </app-campaign-item-footer>

          <!-- panel footer -->
        <!--./campaign-item-footer-->

        </div><!--/.panel-info -->
      </form>

    </div>
  </div><!--/.row-->
</section>
