<section class="campaign-item-section" *ngFor="let campaign of campaigns">

  <div class="container content-container" *ngIf="campaign.id == campaignId">

    <!-- campaign selection header -->
    <div class="row">
      <div class="campaign-selection-header clearfix">

        <div class="col-xs-12">

        </div>

      </div>
    </div>

    <!-- campaign hero image -->
    <div class="row">
      <div class="col-xs-12">
        <img src="{{campaign?.background}}" class="campaign-hero img-responsive">
      </div>
    </div>

    <!-- inner container -->
    <div class="inner-container">

      <h5 class="inner-title text-center">Select your required formats from the preview below or individually select them from the list.</h5>

      <!-- campaign item tabs -->
      <div class="row">
        <div class="col-xs-12">
          <section class="campaign-item-tabs">
            <ul class="nav nav-tabs">
              <li *ngFor="let sub of campaign.subcampaigns" role="presentation"
                  (click)="currentSubCampaign=sub;
                  requestService.toggleOnTypeChange(requestService.requestsCollection, productType, currentSubCampaign.id)"
                  [ngClass]="sub == currentSubCampaign ? 'active' : ''">
                <a>{{sub?.title}}</a>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <!-- product tabs -->
      <div class="row">
        <div class="col-xs-12">
          <div class="product-tabs" role="group">
            <ul class="nav nav-pills">
              <li (click)="changeProduct('Origin');
              requestService.toggleOnTypeChange(requestService.requestsCollection, productType, currentSubCampaign?.id)"
                  [ngClass]="{'active': productType==='Origin'}"><a>Origin</a></li>
              <li (click)="changeProduct('PBM');
              requestService.toggleOnTypeChange(requestService.requestsCollection, productType, currentSubCampaign?.id)"
                  class="animated" [ngClass]="{'active': productType==='PBM'}"><a>PBM</a></li>
              <li (click)="changeProduct('Origin Access');
              requestService.toggleOnTypeChange(requestService.requestsCollection, productType, currentSubCampaign?.id)"
                  [ngClass]="{'active': productType==='Origin Access'}"><a>Origin Access</a></li>
              <li (click)="changeProduct('EA Access');
              requestService.toggleOnTypeChange(requestService.requestsCollection, productType, currentSubCampaign?.id)"
                  [ngClass]="{'active': productType==='EA Access'}"><a>EA Access</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="currentSubCampaign">
        <app-campaign-detail [subCampaign]="currentSubCampaign"
                          [assetType]="'banners'"
                          [productType]="productType"
                          (clickedAsset)="onAssetClicked($event)"></app-campaign-detail>

        <app-campaign-detail [subCampaign]="currentSubCampaign"
                          [assetType]="'videos'"
                          [productType]="productType"
                          (clickedAsset)="onAssetClicked($event)"></app-campaign-detail>
      </div>

    </div><!-- END .inner-container -->

    <app-review-items [subCampaign]="currentSubCampaign" [campaign]="campaign" [productType]="productType"></app-review-items>
    <app-frame [currentAsset]="selectedAsset" [showFrame]="showFrame" (click)="showFrame=!showFrame"></app-frame>
    <app-download [showDownload]="showDownloadForm" [campaign]="campaign"></app-download>

  </div><!-- END .content-container -->
</section>
