<section class="order-checklist-section">

  <form (ngSubmit)="requestsService.postRequests(requestItems); requestsService.displayDownloadsFormMask=true">

    <!-- order checklist head -->
    <div class="order-check-head text-center">
      <div class="row">
        <div class="col-xs-12">
          <h4>YOUR SELECTED DISPLAY ADS AND VIDEOS</h4>
        </div>
      </div>
    </div>

    <!-- sub heading -->
    <div class="sub-heading">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">Please review <b>your required master formats</b> from the checklist below.</p>
        </div>
      </div>
    </div>
    <!-- panel info -->
    <div class="panel panel-info">
      <div class="panel-body">

        <div class="col-md-2" *ngFor="let sub of campaign.subcampaigns ">
          <div *ngIf="sub.banners">
            <p><b><span class="sub-title">{{sub.title}}</span> - Displays</b></p>
            <div *ngFor="let asset of requestItems">
              <div *ngIf="asset?.type == 'banner' || asset?.type == 'banners'">
                <div *ngIf="asset?.subcampaign == sub?.id">
                  <p>{{asset.width}} x {{asset.height}}
                    <i class="fa fa-times" aria-hidden="true"
                       (click)="removeRequestFromReview(asset, subCampaign.id);
                       asset.selected=false;
                       requestsService.toggleOnTypeChange(requestsService.requestsCollection, productType, sub.id)
                       "></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="sub.videos">
            <p><b><span class="sub-title">{{sub.title}}</span> - Videos</b></p>
            <div *ngFor="let asset of requestItems">
              <div *ngIf="asset?.type == 'video' || asset?.type == 'videos'">
                <div *ngIf="asset?.subcampaign == sub?.id">
                  <p>{{asset.width}} x {{asset.height}}
                    <i class="fa fa-times" aria-hidden="true"
                       (click)="removeRequestFromReview(asset, subCampaign.id);
                       asset.selected=false;
                       requestsService.toggleOnTypeChange(requestsService.requestsCollection, productType, sub.id)"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div><!--/.col-md-2-->

      </div><!--/.panel-body-->
    </div><!-- END .panel .panel-info-->

    <!-- sub heading -->
    <div class="sub-heading">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            <b>Total files selected</b>
            <span class="label label-info">{{requestItems?.length}}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- order checklist foot -->
    <div class="order-check-foot text-center">
      <div class="row">
        <div class="col-xs-12">

          <h5><b>Please confirm your selection</b></h5>
          <p>Freedman International will be informed once your download is processed.</p>

          <button type="submit" class="btn">Confirm selection and download</button>
          <button type="submit" class="btn">Confirm selection and request</button>

          <div *ngIf="requestsService.requestsError != null">
            <div class="panel panel-danger animated" [ngClass]="requestsService.requestsError.length ? 'fadeIn' : 'fadeOut'">
              <div class="panel-heading">
                <p class="text-center">{{requestsService?.requestsError}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- END .order-check-foot -->

  </form>

</section>
