/* HEADER 
========================================================================== */

.main-header {
	@include box-shadow(0, 24px, 29px, -24px, #666);
	position: relative;
	z-index: 2;
	background: #fff;
	margin-top: 100px;

    .header-text,
    .freedman-logo,
    .user-avatar-container {
    	margin: 10px 0;
    }

    .logo-container {
		@include box-shadow(0, 24px, 29px, -24px, #666);
    	@include border-radius(50%);
    	@include size(124px);
    	position: absolute;
    	left: 50%;
    	margin-left: -62px;
    	transform: translateY(-22px);
    }

    // .header-text {
    // 	margin-left: calc(50% + 60px);
    // }

    .user-avatar-container {
    	@include border-radius(50%);
    	@include size(60px);
	    color: #fff;
	    text-align: center;
    	background: #333;

    	.glyphicon-user {
	    	font-size: 26px;
	    	line-height: 26px;
	    	margin-top: 10px;
    	}

    	p.username {
    		font-size: 10px;
    		line-height: 10px;
    		margin: 0;
    	}
    }

    .user-nav {
        margin: 20px 15px;
        li {
            display: inline-block;
            list-style-type: none;

            a { 
                @include size(40px, 40px);
                line-height: 40px;
                font-size: 26px;
                color: #333;
                display: block;
                text-align: center;
                cursor: pointer;
                opacity: .5;

                &:hover,
                &:focus {
                    opacity: 1;
                    background: #e0e0e0;
                }
            }
        }
    }
}
