<header class="main-header">
  <div class="container">
    <div class="row">

      <div class="col-sm-5">
        <img class="freedman-logo" src="src/assets/freedman-logo.png" alt="Freedman International logo">
      </div>

      <div class="col-sm-2">
        <div class="logo-container">
          <img class="" src="src/assets/EA-logo.png" alt="EA logo">
        </div>
        <!-- <img class="header-text" src="../../assets/header-text.png" alt="Localisation Transcreation Adaption Portal"> -->
      </div>

      <div class="col-sm-5">
        <div *ngIf="user?.name">

          <div class="user-avatar-container pull-right animated" [ngClass]="{'fadeIn' : user?.name}">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            <p class="username">{{user?.name}}</p>
          </div>

          <!-- user navigation -->
          <nav class="user-nav pull-right">
            <li>
              <a><i class="fa fa-th" aria-hidden="true"[routerLink]="['/campaigns']"></i></a>
            </li>
            <li>
              <a><i class="fa fa-inbox" aria-hidden="true" [routerLink]="['/requests']"></i></a>
            </li>
            <li>
              <a><i class="fa fa-cog" aria-hidden="true" [routerLink]="['/settings']"></i></a>
            </li>
          </nav>

        </div>
      </div>

    </div>
  </div>
</header>
