<section class="user-requests">

  <div class="container content-container">

    <!-- user header -->
    <div class="row">
      <div class="user-header">
				<h1>User Requests</h1>
      </div><!--/.user-header-->
    </div><!--/.row-->

		<!-- campaign requests -->
		<div class="row">
		  <div class="col-md-12">
        <div class="view-container campaign-request" *ngFor="let order of ordersCollection;">

          <app-panel-header [order]="order"></app-panel-header>
          <app-panel-body [order]="order" *ngIf="showBody?.display && showBody?.orderId===order?.id"></app-panel-body>
          <app-panel-footer [order]="order" (onShowMore)="onClickShowMore($event)"></app-panel-footer>

        </div><!--/.campaign-request-->
		  </div>
		</div>

  </div><!--/.content-container-->

</section><!--/.user-requests-->
