<section class="admin-upload">
	<!-- view header -->
	<div class="view-header row">
	  <div class="col-md-12 col-lg-10">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <!-- Single button -->
          <div class="btn-group">
            <button (click)="dropDown=!dropDown"  type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SELECT CAMPAIGN <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [ngClass]="{hide : dropDown}">

              <li *ngIf="!campaignsLoaded" class="text-center center-block">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <span class="animated flash">Loading...</span>
              </li>



              <li *ngFor="let campaign of campaigns" (click)="dropDown=!dropDown">
                <a (click)="campaignSelect(campaign);">{{campaign?.title}}</a>
              </li>

            </ul>
          </div>
        </div>

        <button (click)="createNewCampaign()" type="button" class="btn btn-info">create Campaign</button>

        <div class="col-md-8 col-lg-6"><h1 class="pull-right">Create Campaign</h1></div>
      </div><!--/.row-->

	  </div>
	</div>

	<!-- campaign request -->
	<div class="row">
	  <div class="col-md-12 col-lg-10">


        <div *ngIf="uploadForm || newCampaign">
          <div class="view-container upload">
          <app-campaign-form [campaign]="selectedCampaign"></app-campaign-form>
          <app-subcampaign-upload [campaign]="selectedCampaign"></app-subcampaign-upload>
          <app-asset-panels></app-asset-panels>
          </div><!--/.upload-->
        </div><!--/*ngIf-->


	  	<div class="view-contianer">

			</div>

	  </div>
	</div><!--/.row-->

</section>
