/* LOGIN
========================================================================== */


// login form
.log-form {
	a {
		display: block;

		.fa-question {
			@include size(20px);
    		line-height: 20px;
    		text-align: center;
			background: $primary-orange;
			margin-right: 8px;
		}
	}

	.btn-sub { background: $primary-blue; }
	.btn-reg { background: #363636; }
}