
.dropzone {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #919191;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-weight: normal;
}

.dropzone .info {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: 120px;
  height: 100px;
  /*z-index: -9;  TODO  */
  overflow: visible;
}

.dropzone .info:before {
  content: "\f0ee";
  font-family: FontAwesome;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  top:8px;
  left:0;
  right:0;
  margin-right: auto;
  margin-left: auto;
  background-color: #EF5C28;
  color:white;
  text-align: center;
  font-size: 24px;
  -webkit-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}

.over .info:before {
  -webkit-box-shadow: 0px 0px 8px 0px #EF5C28;
  -moz-box-shadow: 0px 0px 8px 0px #EF5C28;
  box-shadow: 0px 0px 8px 0px #EF5C28;
}

.dropzone .error:before {
  content: "\f06a";
}

.dropzone:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #F4F4F4;
  z-index: -10;
}

.dropzone .info .label {
  position: absolute;
  width: 300%;
  left:-100%;
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 12px;
}
.dropzone .info .label:nth-child(1){
  bottom:30px;
}
.dropzone .info .label:nth-child(2){
  bottom:10px;
}
.dropzone .error .label {
  color: red;
}

.dropzone > input {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  cursor: pointer;
  opacity: 0;
}

.dropzone .placeholder {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  -webkit-transition: -webkit-filter 0.3s linear;
  transition: filter 0.3s linear;
  object-fit: cover;
  -webkit-transition: margin 0.5s linear;
  transition: margin 0.5s linear;
}

.pending > .placeholder {
  -webkit-filter: grayscale(100%) brightness(80%) blur(2px);
  filter: grayscale(100%) brightness(80%) blur(2px);
}

.pending:after {
  content: "\f017";
  font-family: FontAwesome;
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 24px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  background: transparent;
  color: #EF5C28;
  text-align: center;
  font-size: 45px;
  line-height: 85%;
  animation: waitpulse 1s ease-in-out infinite alternate;
  z-index: 10;
}

@keyframes waitpulse {
  from {
    -webkit-box-shadow: 0px 0px 10px 3px white;
    -moz-box-shadow: 0px 0px 10px 3px white;
    box-shadow: 0px 0px 10px 3px white;
  }
  to {
    -webkit-box-shadow: 0px 0px 80px 8px white;
    -moz-box-shadow: 0px 0px 80px 8px white;
    box-shadow: 0px 0px 80px 8px white;
  }
}

.dropzone .progressbar {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  overflow: hidden;
  -webkit-transition: margin 0.5s linear;
  transition: margin 0.5s linear;
}

.dropzone .progressbar .placeholder {
  -webkit-filter: none;
  filter: none;
}

.dropzone .dragCollect {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
}
