/* REGISTRATION FORM
========================================================================== */

.reg-form {
	> p {
		margin-bottom: 15px;

		a { 
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.form-group::before {
		content: "*";
		display: block;
		position: absolute;
		font-size: 30px;
		margin-top: -6px;
    	margin-left: -15px;
		color: $primary-orange;
	}

	// remove asterisk from non-compulsory form elements
	.form-group:nth-child(4)::before { content: ''; }

	.check-container span > a { 
		color: $primary-orange;
	}

	.btn-reg {
		background: $primary-blue;
	}
}

span.invalid-msg {
  	color: $primary-orange;
}