<div class="panel-group subcampaigns">

  <div class="panel">
    <!-- panel-heading -->
    <div class="panel-heading clearfix" role="tab">
      <h3 class="panel-title pull-left">Lorem Ipsum - One</h3>
      <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    </div>

    <!-- panel-body -->
    <div class="panel-body">
      <div class="row">
        <div class="btn-group">
          <button class="btn">Display</button>
          <button class="btn">Video</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>DISPLAY ADS</h5>
          <p>120 X 600 <button class="btn">Remove</button></p>
          <p>120 X 600 <button class="btn">Remove</button></p>
          <p><button class="btn">Add</button></p>
        </div>
        <div class="col-md-6">
          <h5>CUSTOM DISPLAY ADS</h5>
          <p>300 X 300 <button class="btn">Remove</button></p>
          <p>400 X 400 <button class="btn">Remove</button></p>
          <p><button class="btn">Add</button></p>
        </div>
      </div>
    </div>
  </div><!--/.panel-->

  <div class="panel">
    <!-- panel-heading -->
    <div class="panel-heading clearfix" role="tab">
      <h3 class="panel-title pull-left">Lorem Ipsum - 2</h3>
      <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    </div>
  </div><!--/.panel-->

  <div class="panel">
    <!-- panel-heading -->
    <div class="panel-heading clearfix" role="tab">
      <h3 class="panel-title pull-left">Lorem Ipsum - 3</h3>
      <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
    </div>
  </div><!--/.panel-->

</div>