<section class="admin-settings">

	<!-- view header -->
	<div class="view-header row">
	  <div class="col-md-12 col-lg-10">
	    <h1>Settings</h1>
	  </div>
	</div>

	<!-- campaign request -->
	<div class="row">
	  <div class="col-md-12 col-lg-10">

	    <div class="view-container settings">

			<!-- settings-container -->
			<div class="settings-container">
				<h3>Profile</h3>

				<!-- profile image -->
				<div class="profile-image-container clearfix">
					<div class="profile-image">
						<i aria-hidden="true" class="glyphicon glyphicon-user"></i>
					</div>
					<button type="button" class="btn replace-btn pull-right">Edit / Replace</button>
				</div>

				<!-- personal details form-->
				<form [formGroup]="adminSettingsForm" (submit)="patchSettingsForm($event)"  class="personal-details">
					<h3>Personal Details</h3>

          <!-- first name -->
          <div class="form-group">
            <label>First Name*</label>
            <input type="text"
                   name="name"
                   class="form-control"
                   [(ngModel)]="user.name"
                   formControlName="name">
                    <span *ngIf="!adminSettingsForm.controls['name'].valid && adminSettingsForm.controls['name'].touched">
                      {{authService.validationMessages.name.required}}
                    </span>
          </div>

          <!-- surname name -->
          <div class="form-group">
            <label>Last Name*</label>
            <input type="text"
                   name="surname"
                   class="form-control"
                   [(ngModel)]="user.surname"
                   formControlName="surname">
                    <span *ngIf="!adminSettingsForm.controls['surname'].valid && adminSettingsForm.controls['surname'].touched">
                      {{authService.validationMessages.surname.required}}
                    </span>
          </div>

          <!-- password -->
          <div class="form-group">
            <label>Password*</label>
            <input type="password"
                   name="password"
                   class="form-control"
                   formControlName="password">
                     <span *ngIf="!adminSettingsForm.controls['password'].valid && adminSettingsForm.controls['password'].touched">
                      {{authService.validationMessages.password.required}}
                    </span>

          </div>

          <!-- market -->
          <div class="form-group">
            <label>Market*</label>
            <input type="text"
                   name="market"
                   class="form-control"
                   [(ngModel)]="user.market"
                   formControlName="market">
                    <span *ngIf="!adminSettingsForm.controls['market'].valid && adminSettingsForm.controls['market'].touched">
                      {{authService.validationMessages.market.required}}
                    </span>

          </div>

          <!-- company -->
          <div class="form-group">
            <label>Company*</label>
            <input type="text"
                   name="company"
                   class="form-control"
                   [(ngModel)]="user.company"
                   formControlName="company">
                     <span *ngIf="!adminSettingsForm.controls['company'].valid && adminSettingsForm.controls['company'].touched">
                      {{authService.validationMessages.company.required}}
                    </span>

          </div>

          <button type="submit" class="btn save-btn">Save</button>
				</form>
			</div><!--/.settings-wrapper-->

	    </div><!--/.settings-container-->
	  </div>
	</div>

</section><!--/.admin-settings-->
