<div class="panel-footer">
  <div class="row">

    <!-- left col -->
    <div class="col-md-6">


      <div *ngIf="assetType == 'banners'" class="panel-foot-head">
        <i class="fa" [ngClass]="requestsService?.toggleBanner ? 'fa-toggle-on' : 'fa-toggle-off'"
           aria-hidden="true"
           (click)="selectAllOfSubCampaign(subCampaign[assetType], requestsService.toggleBanner, subCampaign.id, requestItems);
           requestsService.toggleBanner=!requestsService.toggleBanner;
          "></i>
        <span *ngIf="!requestsService?.toggleBanner" class="toggle-status">Select all</span>
        <span *ngIf="requestsService?.toggleBanner" class="toggle-status">Remove all</span>
      </div>


      <div *ngIf="assetType == 'videos'" class="panel-foot-head">
        <i class="fa" [ngClass]="requestsService.toggleVideo ? 'fa-toggle-on' : 'fa-toggle-off'"
           aria-hidden="true"
           (click)="selectAllOfSubCampaign(subCampaign[assetType], requestsService.toggleVideo, subCampaign.id, requestItems);
           requestsService.toggleVideo=!requestsService.toggleVideo; "></i>
        <span *ngIf="!requestsService?.toggleVideo" class="toggle-status">Select all</span>
        <span *ngIf="requestsService?.toggleVideo" class="toggle-status">Remove all</span>
      </div>


      <div class="row">
        <div *ngFor="let item of subCampaign[assetType]">
            <div *ngIf="item.product === productType">
              <div class="col-sm-3">
              <input type="checkbox"  #cb2 name="{{item.id}}"
                     (change)="addAssetToRequestsCollection(item, cb2, subCampaign.id);"
                     (change)="addAssetToRequestsCollection(item, cb2, subCampaign.id);
                     requestsService.toggleOnTypeChange(requestsService.requestsCollection, productType, subCampaign.id)"
                     [(ngModel)]="item.selected">

                      <span *ngIf="assetType == 'banners'">
                        {{item.width}} X {{item.height}}
                      </span>

                      <span *ngIf="assetType == 'videos'">
                        {{item.title}} sec
                      </span>
            </div><!--/.col-sm-3-->
            </div><!--/.*ngIf="item.product-->

        </div><!--/*ngFor -->
      </div><!--/.row-->
    </div><!--/.col-md-6 -->

    <!-- right col -->
    <div class="col-md-6">
      <div *ngIf="assetType == 'banners'">
        <app-banner-input-detail
          [assetType]="assetType"
          [subCampaign]="subCampaign"
          [productType]="productType"
          [requestItems]="requestItems"
          (customBannerSizes)="getInputValues($event)"></app-banner-input-detail>
      </div>
      <div *ngIf="assetType == 'videos'">
        <app-video-input-detail
          [assetType]="assetType"
          [subCampaign]="subCampaign"
          [productType]="productType"
          [requestItems]="requestItems"
          (customVideoSizes)="getInputValues($event)"></app-video-input-detail>
      </div>


    </div><!--/.col-md-6-->

  </div>
</div>
