<div class="animated" [ngClass]="requestsService.displayDownloadsFormMask ? 'fadeIn mask display-block' : 'fadeOut display-none'">

  <div class="container download-container">
    <div class="row">

      <div class="col-lg-4 col-md-3 col-sm-2"></div>

      <div class="col-lg-4 col-md-6 col-sm-8">
        <!-- close button -->
        <button type="button" class="close-btn" (click)="requestsService.displayDownloadsFormMask=false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <form class="base-form download-form" [formGroup]="dLForm" (ngSubmit)="onSubmit()">
          <header>
            <h4 class="text-center"><b>Total Files Selected</b></h4>
            <h5 class="text-center">Please complete the form to continue</h5>
          </header>

          <!-- market -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Market" formControlName="market">
            <i class="fa fa-flag" aria-hidden="true"></i>
            <span class="invalid-msg" *ngIf="!dLForm.get('market').valid && dLForm.get('market').touched">
              Invalid market
            </span>
          </div>

          <!-- live date -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Campaign live dates" formControlName="live">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="invalid-msg" *ngIf="!dLForm.get('live').valid && dLForm.get('live').touched">
              Invalid live
            </span>
          </div>

          <!-- deadline date -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Material supply deadline" formControlName="deadline">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span class="invalid-msg" *ngIf="!dLForm.get('deadline').valid && dLForm.get('deadline').touched">
              Invalid deadline
            </span>
          </div>

          <!-- localisation -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Localisation required?" formControlName="localization">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span class="invalid-msg" *ngIf="!dLForm.get('localization').valid && dLForm.get('localization').touched">
              Invalid localization
            </span>
          </div>

          <!-- translation -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Translation required?" formControlName="translation">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="invalid-msg" *ngIf="!dLForm.get('translation').valid && dLForm.get('translation').touched">
              Invalid translation
            </span>
          </div><!--/.form-group-->

          <div class="check-container clearfix">
            <a class="pull-right" [routerLink]="['/help']"><i class="fa fa-question" aria-hidden="true"></i> Need Help</a>
          </div>

          <button type="submit" class="btn btn-reg" [disabled]="!dLForm.valid">Submit to Freedman</button>
        </form>

        <!-- error message -->
        <div class="base-form-error alert alert-danger" *ngIf="errors">
          Oh dear! You need to complete the form to continue
        </div>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-3 col-sm-2"></div>

    </div><!--/.row-->
  </div><!--/.download-container-->

</div><!--/.animated-->
