
<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-3 col-sm-2"></div>

    <div class="col-lg-4 col-md-6 col-sm-8">
      <form [ngClass]="showLoginForm ? 'display-block bounceIn' : 'display-none bounceOut'" class="animated base-form log-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email"
                 #email="ngModel"
                 placeholder="Email"
                 required
                 pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" required>
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>

        <div class="check-container clearfix">
          <div class="checkbox pull-left">
            <input type="checkbox" id="memorize" name="memorize" [(ngModel)]="model.memorize" #memorize="ngModel">
            <label for="memorize"></label>
          </div>
          <span>Remember Me</span>
          <a class="pull-right" [routerLink]="['/help']"><i class="fa fa-question" aria-hidden="true"></i>Need Help</a>
        </div>

        <button class="btn btn-sub" type="submit">Login</button>
        <button class="btn btn-reg" [routerLink]="['/register']">Register</button>

        <a class="text-center" (click)="showReset()">Forgotten Password</a>
      </form>

      <div *ngIf="preloader" class="text-center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>

      <!-- error message -->
      <div class="base-form-error alert alert-danger" *ngIf="errors">
        There seems to be a problem with your email or password.
        Please try again of visit the <a [routerLink]="['/help']" class="alert-link">Need Help?</a> page.
      </div>

      <!-- reset password form -->
      <div [ngClass]="showResetForm ? 'display-block bounceIn' : 'display-none bounceOut'" class="animated">
        <app-reset></app-reset>
      </div>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2"></div>

  </div>
</div><!-- END .container-->
