<form class="campaign-form clearfix" [formGroup]="formData" (submit)="onCreateCampaign($event)">

  <label>Campaign Name</label>
  <div class="form-group">
    <input type="text"
           class="form-control"
           name="title"
           formControlName="title"
           placeholder="{{campaign?.title}}"
    >
  </div>

  <label>Campaign Image</label>
  <div class="drag-drop-container image-upload">
    <app-drop-zone [messages]="EnglishMessages" [errors]="ErrorMessages[0]" (return)="Test($event, 0)" [campaign]="campaign" [placeHolder]="campaign?.thumbnail"></app-drop-zone>
  </div>
  <label>Campaign Background</label>
  <div class="drag-drop-container image-upload">
    <app-drop-zone [messages]="EnglishMessages" [errors]="ErrorMessages" (return)="Test($event, 1)" [campaign]="campaign" [placeHolder]="campaign?.background"></app-drop-zone>
  </div>

  <input type="hidden" name="background"
         [(ngModel)]="inputs.thumbnail"
         formControlName="thumbnail">

  <input type="hidden" name="background"
         [(ngModel)]="inputs.background"
         formControlName="background">

  <button class="btn create-btn pull-right" type="submit" [disabled]="!formData.valid" >Create campaign</button>

</form>
