<div class="animated" [ngClass]="showFrame ? 'fadeIn mask display-block' : 'fadeOut display-none'">

  	<div class="asset">

  		<!-- close button -->
			<button type="button" class="close-btn">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>

			<!-- asset container -->
	    <iframe width="{{currentAsset?.width}}" height="{{currentAsset?.height}}" [src]="currentAsset?.asset | safe" frameborder="0" allowfullscreen></iframe>

			<!-- asset details -->
	   	<div class="asset-item-details">
	   		<div class="asset-name-select-all">
	   			<span class="asset-name">Title</span>
	   			<i class="fa fa-toggle-off" aria-hidden="true"></i>
				<span class="toggle-status">Select all</span>
	   		</div>
	   		<div class="asset-select">
	   			<input type="checkbox">
	        	<span *ngIf="assetType == 'banners'">
	            	{{item.width}} X {{item.height}}
	        	</span>
	        	<span *ngIf="assetType == 'videos'">
	                {{item.title}} sec
	            </span>
	   		</div>
	    </div><!--/.asset-item-details-->

  	</div><!--/.asset-->

</div>
