/* MIXINS
========================================================================== */

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
	background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
  			border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
   			border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
        border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
        border-top-left-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow:$x $y $blur $spread $color;
     -moz-box-shadow:$x $y $blur $spread $color;
    		  box-shadow:$x $y $blur $spread $color;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
     -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
       -o-transition: $transition-property $transition-time $method;
          transition: $transition-property $transition-time $method;
}