/* VARIABLES
========================================================================== */

$bg-opacity: rgba(0,0,0,.55);
$form-border-color: #798792;
$form-max-width: 470px; 
$form-el-height: 40px;
$primary-orange: #ec5c24;
$primary-blue: #2499cf;
$primary-blue-hover: #006699;