/* BASE 
========================================================================== */


html, body {
	background: #fff;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}


// bootstrap default overrides 
a:hover,
a:focus {
	text-decoration: none;
}

a:focus,
.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
}


// outer container
// contains/displays full width background image  
.outer-container {
	@include size(100%, auto);
	min-height: 100%;
	position: absolute;
	background-image: URL('src/assets/login-bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 80px;
}

// mask
.mask {
	@include size(100%, 100vh);
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    overflow: none;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}


// content container 
// used in multiple components as the main parent container for view content
.content-container {
	@include border-bottom-radius(25px);
	background: $bg-opacity;
	// position: relative;
	z-index: 1;
	color: #fff;
	height: auto;
}


// base form styles (login, registration, download, reset)
.base-form {
	@include border-radius(8px);
    position: relative;
	z-index: 1;
	border: 1px solid $form-border-color;  
	max-width: $form-max-width;
	background: $bg-opacity;
	color: #fff;
	padding: 30px;
    margin: 80px auto 30px;

    a {
		color: #fff;
		cursor: pointer;

		&:hover,
		&:focus { 
			color: #fff;
		}
	}

    .form-group {
		position: relative;

		.form-control {
			@include input-placeholder { color: #000; }
			height: $form-el-height;
			border-color: $form-border-color;
			padding-left: 50px;

			&:focus {
				background: #fbded3;
			}

			&:focus + .fa {
				background: $primary-orange;
			}
		}

		.fa {
			@include size(30px);
    		@include border-radius(50%);
    		line-height: 30px;
    		text-align: center;
    		background: #ccc;
		    position: absolute;
		    top: 5px;
		    margin-left: 5px;
		}
	}

	.check-container {
		margin-bottom: 15px;

		.checkbox { 
			@include size(20px);
    		display: inline-block;
    		position: relative;
			margin: 0 8px 0 0;

			input[type=checkbox] {
				visibility: hidden;

				&:checked + label:after { opacity: 1; }
			}

			label {
			    @include size(100%);
			    position: absolute;
			    top: 0;
			    left: 0;
			    background: $primary-blue;

			    &::after {
					content: '';
			    	opacity: .2;
					position: absolute;
					width: 10px;
					height: 6px;
					background: transparent;
					top: 6px;
					left: 5px;
					border: 3px solid #fff;
					border-top: none;
					border-right: none;
					transform: rotate(-45deg);
			    }
			}
		}
	}

	button {
		width: 100%;
		height: $form-el-height;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 16px;
		display: block;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			box-shadow: none;
		}
	}

	.ng-touched.ng-valid {
   		background: #dff0d8;
   		border: 1px solid #00aaaa;
	}

	.ng-touched.ng-valid + .fa {
	   background: #00aaaa;
	}

	.ng-touched.ng-invalid {
	  border: 1px solid  #da0000;
	}
}


// base form error message
.base-form-error {
    position: relative;
	z-index: 1;
	max-width: $form-max-width;
    margin: 30px 0;
}


// shared admin and user component styles 
// view header
.view-header {
	height: 60px;
	background: #dbdbdb;

	h1 {
		font-size: 22px;
		font-weight: bold;
		line-height: 60px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}
}


// view container
.view-container {
	@include box-shadow(4px, 4px, 6px, 0, #999);
	@include border-radius(10px);
	width: 100%;
	background: #fff;
	margin: 25px 0;
}
