/* USER
========================================================================== */


.user-settings .content-container,
.user-requests .content-container { color: #000; }

.user-settings .view-container,
.user-requests .view-container { 
	@include box-shadow(0, 12px, 9px, -6px, rgba(0,0,0,.4));
}

.user-header {
	@include box-shadow(0, 12px, 9px, -6px, rgba(0,0,0,.4));
	@include size(100%, auto);
	height: 60px;
	background: #fff;
	margin: 60px 0 20px;

	h1 {
		font-size: 22px;
		font-weight: bold;
		line-height: 60px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}
}
