
<!--<div class="outer-container" style="background-image: url('http://gameyfi.com/lab/ea/assets/login-bg.png')">-->
  <div class="outer-container">

  <app-header [user]="user"></app-header>
  <router-outlet></router-outlet>
</div>
