<div class="outer-dashboard">

  <div class="container-fluid">
    <div class="row">
      <!-- nav-container -->
      <div class="nav-container col-md-3">
        <div class="row">
          <ul class="admin-nav">
            <li><a [routerLink]="['requests']">Requests</a></li>
            <li><a [routerLink]="['dashboard']">Dashboard</a></li>
            <li><a [routerLink]="['settings']">Setting</a></li>
            <li><a [routerLink]="['upload']">upload / Manage</a></li>
          </ul>
        </div>
      </div>

      <!-- main content -->
      <div class="main-content col-md-9">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div><!-- END .container-fluid -->

</div><!-- END .outer-dashboard -->
