<section class="admin-dashboard">

	<!-- view header -->
	<div class="view-header row">
	  <div class="col-md-12 col-lg-10">
	  	<select class="form-control">
	      <option value>Option 1</option>
	      <option value>Option 2</option>
	      <option value>Option 3</option>
	      <option value>Option 4</option>
	      <option value>Option 5</option>
	      <option value>Option 6</option>
	    </select>
	  </div>
	</div>

	<!-- key -->
	<div class="row">
		<div class="col-xs-12">
			<div class="view-container key">
				<p>
					<span class="key-marker purple"></span><i>*Requested production by freedman</i>
				</p>
				<p>
					<span class="key-marker green"></span><i>*Assets downloaded</i>
				</p>
		  </div><!--/.key-->
		</div>
	</div>

	<!-- campaign overview -->
	<div class="row">
	  <div class="col-xs-12">
			<div class="view-container campaign-overview">

				<!-- overview header -->
				<div class="overview-header">
					<h4>Overview UK market all campaigns</h4>
					<div class="row">
						<div class="col-xs-6"></div>
						<div class="col-xs-3 text-center"><b>Display-ads</b></div>
						<div class="col-xs-3 text-center"><b>Video formats</b></div>
					</div>
				</div>

				<!-- overview body -->
				<div class="overview-body">
					<div class="row">
						<div class="col-xs-6">
							<p><span class="key-marker purple"></span><b>Mirrors Edge</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p><b>10</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p><b>6</b></p>
						</div>
					</div><!--/.row-->

					<div class="row">
						<div class="col-xs-6">
							<p><span class="key-marker green"></span><b>Star Wars</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p><b>6</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p><b>9</b></p>
						</div>
					</div><!--/.row-->

					<div class="row">
						<div class="col-xs-6">
							<p class="greyed"><span class="key-marker trans"></span><b>UFC2</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p class="greyed"><b>0</b></p>
						</div>
						<div class="col-xs-3 text-center">
							<p class="greyed"><b>0</b></p>
						</div>
					</div><!--/.row-->
				</div><!--/.overview-body-->

	  	</div><!--/.campaign-overview-->
	  </div>
	</div><!--/.row-->

</section><!--/.dashboard-->