<section class="user-settings">

  <div class="container content-container">

    <!-- user header -->
    <div class="row">
      <div class="user-header">
				<h1>User Settings</h1>
      </div><!--/.user-header-->
    </div><!--/.row-->

		<!-- settings -->
		<div class="row">
		  <div class="col-md-12">
				<div class="view-container settings">

					<!-- settings-container -->
					<div class="settings-container">
						<h3>Profile</h3>


            <!-- profile image -->
            <div class="profile-image-container clearfix">
              <div class="profile-image">
                <i aria-hidden="true" class="glyphicon glyphicon-user"></i>
              </div>
              <button type="button" class="btn replace-btn pull-right">Edit / Replace</button>
            </div>


						<!-- personal details form-->
						<form [formGroup]="userSettingsForm" (submit)="patchSettingsForm($event)"  class="personal-details">
							<h3>Personal Details</h3>

						    <!-- first name -->
						    <div class="form-group">
						        <label>First Name*</label>
						       	<input type="text"
                           name="name"
                           class="form-control"
                           [(ngModel)]="user.name"
                    formControlName="name">
                    <span *ngIf="!userSettingsForm.controls['name'].valid && userSettingsForm.controls['name'].touched">
                      {{authService.validationMessages.name.required}}
                    </span>
						    </div>

						    <!-- surname name -->
						    <div class="form-group">
						      	<label>Last Name*</label>
						        <input type="text"
                           name="surname"
                           class="form-control"
                           [(ngModel)]="user.surname"
                    formControlName="surname">
                    <span *ngIf="!userSettingsForm.controls['surname'].valid && userSettingsForm.controls['surname'].touched">
                      {{authService.validationMessages.surname.required}}
                    </span>
						    </div>

						    <!-- password -->
						    <div class="form-group">
						        <label>Password*</label>
						       	<input type="password"
                           name="password"
                           class="form-control"
                    formControlName="password">
                     <span *ngIf="!userSettingsForm.controls['password'].valid && userSettingsForm.controls['password'].touched">
                      {{authService.validationMessages.password.required}}
                    </span>

					        </div>

						    <!-- market -->
						    <div class="form-group">
						        <label>Market*</label>
						       	<input type="text"
                           name="market"
                           class="form-control"
                           [(ngModel)]="user.market"
                    formControlName="market">
                    <span *ngIf="!userSettingsForm.controls['market'].valid && userSettingsForm.controls['market'].touched">
                      {{authService.validationMessages.market.required}}
                    </span>

					        </div>

              <!-- company -->
              <div class="form-group">
                <label>Company*</label>
                <input type="text"
                       name="company"
                       class="form-control"
                       [(ngModel)]="user.company"
                       formControlName="company">
                     <span *ngIf="!userSettingsForm.controls['company'].valid && userSettingsForm.controls['company'].touched">
                      {{authService.validationMessages.company.required}}
                    </span>

              </div>

						    <button type="submit" class="btn save-btn">Save</button>
						</form>
					</div><!--/.settings-container-->

    		</div><!--/.settings-->
		  </div>
		</div>

  </div><!--/.content-container -->


</section><!--/.user-settings-->

