<section class="admin-requests">

  <!-- view header -->
  <div class="view-header row">
    <div class="col-md-12 col-lg-10">
      <h1>Campaign Request</h1>
    </div>
  </div>

  <!-- button-group -->
  <div class="row">
    <div class="col-md-12 col-lg-10">
      <div class="btn-group" role="group">
        <button type="button" class="btn">Open Requests</button>
        <button type="button" class="btn">Archive</button>
      </div>
    </div>
  </div>

  <!-- campaign request -->
  <div class="row">
    <div class="col-md-12 col-lg-10">

      <div class="view-container campaign-request" *ngFor="let order of ordersCollection;">

        <app-panel-header [order]="order"></app-panel-header>
          <app-panel-body [order]="order" *ngIf="showBody?.display && showBody?.orderId===order?.id"></app-panel-body>
        <app-panel-footer [order]="order" (onShowMore)="onClickShowMore($event)"></app-panel-footer>

      </div><!--/.campaign-request-->
    </div>
  </div>

</section><!--/.admin-requests-->
