/* HELP
========================================================================== */

.hgroup {
	font-size: 28px;
	margin: 50px 0 30px;

	h1 {
		font-size: 28px;
    	margin: 0;
	}

	.fa-question {
		@include size(40px);
    	line-height: 40px;
    	text-align: center;
		background: $primary-orange;
		margin: 18px 0;
	}
}

.search-form .form-group {
	 margin-bottom: 30px;

	.form-control {
		color: #000;
		height: 55px;
		font-size: 18px;
		padding-left: 55px;
		border: none;
		border-radius: 0;
		width: calc(100% - 150px)
	}

	.btn {
		@include size(150px, 55px);
		background: $primary-orange;
		border-radius: 0;
		font-size: 24px;

		&.btn:hover, 
		&.btn:focus, 
		&.btn.focus { color: #fff; }
	}
}

.panel-group.faq {
	background: rgba(0,0,0,.4);

	.panel {
		border: none;
		border-radius: 0;

		+ .panel { margin-top: 12px; }
	}

	.panel-heading {
		border-radius: 0;
		padding: 10px 60px;
		background: #0f0f0f;
		position: relative;

		a { text-decoration: none; }

		.fa-question {
			@include size(18px);
    		line-height: 18px;
    		font-size: 14px;
   			text-align: center;
			background: $primary-orange;
			margin-right: 10px;
		}

		.fa-angle-right {
			height: 38px;
			font-size: 30px;
			line-height: 37px;
			position: absolute;
			right: 60px;
			top: 0;
		}
	}

	.panel-body {
		color: #000;
		padding: 15px 60px;

		.fa-comment-o {
			@include border-radius(50%);
			@include size(24px);
			color: #fff;
    		line-height: 22px;
    		text-align: center;
			background: $primary-blue;
			float: left;
		}

		p {
			float: right;
    		width: calc(100% - 40px);
		}
	}
}