/* DOWNLOAD FORM
========================================================================== */


.download-container > .row {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);

	.close-btn {
		position: absolute;
		right: 15px;
		top: -45px;
		border: none;
		outline: none;
	   	background: transparent;
	   	font-size: 32px;
	   	padding: 0;
	}

	.download-form {
	    margin-top: 0;
	    background: #000;
	    @include box-shadow(0, 0, 50px, 0, rgba(200,200,200,0.5));

		header {
			margin-bottom: 25px;

			h4 {
				font-size: 18px;
				margin: 0 0 8px;
			}

			h5 { margin: 0; }
		}

	    .form-group::before {
			content: "*";
			display: block;
			position: absolute;
			font-size: 30px;
			margin-top: -6px;
	    	margin-left: -15px;
			color: $primary-orange;
		}

		a {
			display: block;

			.fa-question {
				@include size(20px);
	    		line-height: 20px;
	    		text-align: center;
				background: $primary-orange;
				margin-right: 8px;
			}
		}

		.btn-reg {
			background: $primary-blue;
		}
	}
}
