/* FRAME
========================================================================== */


.asset {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

	.close-btn {
		position: absolute;
		right: 0;
		top: -45px;
		border: none;
		outline: none;
    	background: transparent;
    	font-size: 32px;
    	padding: 0;
	}

	.asset-item-details {

		.asset-name-select-all,
		.asset-select { padding: 0 5px; }

		.asset-name-select-all {
    		height: 24px;
    		line-height: 24px;
    		background: $primary-blue;

    		.asset-name {
    			text-transform: uppercase;
    			margin-right: 15px;
    		}

    		.fa { cursor: pointer; }
		}
	}
}
