
<section class="campaign-selection-section">

  <div class="container content-container">

    <!-- campaign selection header -->
    <div class="row">
      <div class="campaign-selection-header clearfix">

        <div class="col-xs-6">
          <select class="form-control pull-left">
            <option value>Previous Campaigns</option>
            <option value>Star Wars</option>
            <option value>Mirrors Edge</option>
          </select>
        </div>

        <div class="col-xs-6">
          <div class="input-group pull-right">
            <span class="input-group-addon">
              <span class=" glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" #input (keyup)="0">
          </div>
        </div>

      </div>
    </div>
    <!-- campaign selection grid items -->
    <div class="row">
      <div *ngFor="let campaign of (campaigns | searchTitle:input.value)">

        <div class="col-xs-6 col-md-4">
          <div class="campaign">
            <figure class="campaign-wrapper">
              <img src="{{campaign?.thumbnail}}" alt="...">
              <figcaption>
                <h2>{{campaign?.title}}</h2>
                <a class="thumbnail" [routerLink]="[campaign.id]" (click)="selectCampaign(campaign)"></a>
              </figcaption>
            </figure>
          </div>
        </div>

      </div><!-- END *ngFor -->
    </div>

  </div><!-- END .content-container -->

</section>
