/* CAMPAIGN ITEM COMPONENT
========================================================================== */


.campaign-item-section {

	.fa-times { cursor: pointer; }

	// campaign hero image
	.campaign-hero {
		@include box-shadow(0, 12px, 9px, -6px, rgba(0,0,0,.4));
		border: 2px solid rgba(255, 255, 255, .4);
		margin-bottom: 20px;
		width: 100%;
	}

	// inner container
	.inner-container {
		background: rgba(0,0,0,.3);

		.inner-title {
			font-size: 16px;
			padding: 30px 20px;
			margin: 0;
		}

		.nav-tabs {
			border-bottom: none;

			li a {
				@include border-top-radius(10px);
				color: #fff;
				border: none;
				cursor: pointer;
				background: $primary-blue;
			}

			li.active a {
				background: $primary-blue-hover; 
				border: none;
			}
		}

		.product-tabs ul.nav {
			background: $primary-blue-hover;

			li { 
				margin: 0;
				cursor: pointer;

				a {
					color: rgba(255, 255, 255, 0.3);
					background: $primary-blue-hover;
				}
			}

			li.active a {
				color: #fff;
				font-weight: bold;
			}
		}
	}
}
