/* MASTER ITEMS COMPONENT
========================================================================== */


.sub-campaign-section {
	.panel-info,
	.panel-footer {
		border: none;
    	border-radius: 0;
    }

	.panel-info { 
		background: #2b2b2b;
    	margin-bottom: 30px;
	}

	.panel-body { padding: 50px 15px; }

	.asset-item {
		img { 
			height: auto;
			cursor: pointer;
			max-width: 300px; 
			margin: 0 10px 5px; 
		}

		.asset-item-details {
			margin: 0 10px 25px;

			p {
				margin: 0;

				.fa-play-circle {
					color: $primary-orange;
					cursor: pointer;
				}
			}
		}
	}

    .panel-footer { 
    	background: #252525;
		padding: 0 15px 20px;

		.panel-foot-head { 
			height: 30px;
			line-height: 30px;
			position: relative;
			margin: 20px 0 10px;

			.fa {
				font-size: 25px;
				cursor: pointer;
				position: absolute;
				top: 2px;
			}

			.toggle-status { margin-left: 35px; }
		}

		.custom-input-container {
			margin-bottom: 20px;

			i.italic { font-style: italic; }

			input[type="text"] {
				@include size(90px, 28px);
				color: #000;
				border: none;
				outline: none;
				padding: 2px 5px;
				margin-right: 10px;
			}

			.add-custom {
				@include size(auto, 28px);
				border: none;
				border-radius: 0;
				line-height: 28px;
				background: $primary-blue;
				padding: 0 12px;

				&:hover,
				&:focus { color: #fff; }
			}

			.custom-input-error {
				color: #aaa;
    			font-style: italic;
				padding: 10px 20px;
			}
		}
    }
}
