/* REVIEW ITEMS COMPONENT
========================================================================== */


.order-checklist-section {
	@include box-shadow(0, 12px, 9px, -6px, rgba(0,0,0,.4));
	@include border-bottom-radius(25px);
	color: #000;
	background: #e5e5e5;
	margin-bottom: 20px;

	.order-check-head {
		color: #fff;
		background: #000;
		border: 1px solid #acacac;
		border-bottom: 5px solid #acacac;
		margin-bottom: 30px;
		padding: 5px 0;

		h4 {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.sub-heading {
		color: #000;
		font-size: 16px;
		background: #fff;
		border-bottom: 3px solid #acacac;
		padding: 10px 0;

		p {
			position: relative;
			margin: 0;

			.label {
				position: absolute;
			    left: 50%;
			    font-size: 100%;
			    background: $primary-blue;
			    margin-left: 80px;
			    padding: 3px 20px;
			}
		}
	}

	.panel-info {
		border: none;
		background: transparent;
		margin: 0;

		.panel-body {
			padding: 30px 15px;

			.sub-title {
				color: $primary-blue;
				text-transform: uppercase; 
			}
		}
	}

	.order-check-foot {
		padding: 30px 0 50px;

		h5 {
			font-size: 16px; 
			margin: 0 0 3px;
		}

		p {
			font-size: 16px; 
			margin: 0;
		}

		button {
			@include size(100%, 40px);
			max-width: 320px;
			color: #fff;
			margin-top: 20px;
			text-transform: uppercase;
			background: $primary-blue;
			border: none;

			&:hover { background: $primary-blue-hover; }
		}
	}
}
