/* BASE - variable and mixins files
========================================================================== */
/* VARIABLES
========================================================================== */
/* MIXINS
========================================================================== */
/* BASE 
========================================================================== */
html, body {
  background: #fff;
  padding: 0;
  margin: 0;
  overflow-y: scroll; }

a:hover,
a:focus {
  text-decoration: none; }

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  border: 0;
  outline: 0;
  box-shadow: none; }

.form-control:focus {
  box-shadow: none; }

.outer-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  background-image: URL("src/assets/login-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 80px; }

.mask {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: none; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.content-container {
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  color: #fff;
  height: auto; }

.base-form {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
  border: 1px solid #798792;
  max-width: 470px;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 30px;
  margin: 80px auto 30px; }
  .base-form a {
    color: #fff;
    cursor: pointer; }
    .base-form a:hover, .base-form a:focus {
      color: #fff; }
  .base-form .form-group {
    position: relative; }
    .base-form .form-group .form-control {
      height: 40px;
      border-color: #798792;
      padding-left: 50px; }
      .base-form .form-group .form-control.placeholder {
        color: #000; }
      .base-form .form-group .form-control:-moz-placeholder {
        color: #000; }
      .base-form .form-group .form-control::-moz-placeholder {
        color: #000; }
      .base-form .form-group .form-control:-ms-input-placeholder {
        color: #000; }
      .base-form .form-group .form-control::-webkit-input-placeholder {
        color: #000; }
      .base-form .form-group .form-control:focus {
        background: #fbded3; }
      .base-form .form-group .form-control:focus + .fa {
        background: #ec5c24; }
    .base-form .form-group .fa {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      line-height: 30px;
      text-align: center;
      background: #ccc;
      position: absolute;
      top: 5px;
      margin-left: 5px; }
  .base-form .check-container {
    margin-bottom: 15px; }
    .base-form .check-container .checkbox {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
      margin: 0 8px 0 0; }
      .base-form .check-container .checkbox input[type=checkbox] {
        visibility: hidden; }
        .base-form .check-container .checkbox input[type=checkbox]:checked + label:after {
          opacity: 1; }
      .base-form .check-container .checkbox label {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #2499cf; }
        .base-form .check-container .checkbox label::after {
          content: '';
          opacity: .2;
          position: absolute;
          width: 10px;
          height: 6px;
          background: transparent;
          top: 6px;
          left: 5px;
          border: 3px solid #fff;
          border-top: none;
          border-right: none;
          transform: rotate(-45deg); }
  .base-form button {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    display: block; }
    .base-form button:hover, .base-form button:focus, .base-form button:active {
      color: #fff;
      box-shadow: none; }
  .base-form .ng-touched.ng-valid {
    background: #dff0d8;
    border: 1px solid #00aaaa; }
  .base-form .ng-touched.ng-valid + .fa {
    background: #00aaaa; }
  .base-form .ng-touched.ng-invalid {
    border: 1px solid  #da0000; }

.base-form-error {
  position: relative;
  z-index: 1;
  max-width: 470px;
  margin: 30px 0; }

.view-header {
  height: 60px;
  background: #dbdbdb; }
  .view-header h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }

.view-container {
  -webkit-box-shadow: 4px 4px 6px 0 #999;
  -moz-box-shadow: 4px 4px 6px 0 #999;
  box-shadow: 4px 4px 6px 0 #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  width: 100%;
  background: #fff;
  margin: 25px 0; }

/* COMPONENTS - site components
========================================================================== */
/* HEADER 
========================================================================== */
.main-header {
  -webkit-box-shadow: 0 24px 29px -24px #666;
  -moz-box-shadow: 0 24px 29px -24px #666;
  box-shadow: 0 24px 29px -24px #666;
  position: relative;
  z-index: 2;
  background: #fff;
  margin-top: 100px; }
  .main-header .header-text,
  .main-header .freedman-logo,
  .main-header .user-avatar-container {
    margin: 10px 0; }
  .main-header .logo-container {
    -webkit-box-shadow: 0 24px 29px -24px #666;
    -moz-box-shadow: 0 24px 29px -24px #666;
    box-shadow: 0 24px 29px -24px #666;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    width: 124px;
    height: 124px;
    position: absolute;
    left: 50%;
    margin-left: -62px;
    transform: translateY(-22px); }
  .main-header .user-avatar-container {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    background: #333; }
    .main-header .user-avatar-container .glyphicon-user {
      font-size: 26px;
      line-height: 26px;
      margin-top: 10px; }
    .main-header .user-avatar-container p.username {
      font-size: 10px;
      line-height: 10px;
      margin: 0; }
  .main-header .user-nav {
    margin: 20px 15px; }
    .main-header .user-nav li {
      display: inline-block;
      list-style-type: none; }
      .main-header .user-nav li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 26px;
        color: #333;
        display: block;
        text-align: center;
        cursor: pointer;
        opacity: .5; }
        .main-header .user-nav li a:hover, .main-header .user-nav li a:focus {
          opacity: 1;
          background: #e0e0e0; }

/* LOGIN
========================================================================== */
.log-form a {
  display: block; }
  .log-form a .fa-question {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #ec5c24;
    margin-right: 8px; }
.log-form .btn-sub {
  background: #2499cf; }
.log-form .btn-reg {
  background: #363636; }

/* REGISTRATION FORM
========================================================================== */
.reg-form > p {
  margin-bottom: 15px; }
  .reg-form > p a {
    cursor: pointer;
    text-decoration: underline; }
.reg-form .form-group::before {
  content: "*";
  display: block;
  position: absolute;
  font-size: 30px;
  margin-top: -6px;
  margin-left: -15px;
  color: #ec5c24; }
.reg-form .form-group:nth-child(4)::before {
  content: ''; }
.reg-form .check-container span > a {
  color: #ec5c24; }
.reg-form .btn-reg {
  background: #2499cf; }

span.invalid-msg {
  color: #ec5c24; }

/* HELP
========================================================================== */
.hgroup {
  font-size: 28px;
  margin: 50px 0 30px; }
  .hgroup h1 {
    font-size: 28px;
    margin: 0; }
  .hgroup .fa-question {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ec5c24;
    margin: 18px 0; }

.search-form .form-group {
  margin-bottom: 30px; }
  .search-form .form-group .form-control {
    color: #000;
    height: 55px;
    font-size: 18px;
    padding-left: 55px;
    border: none;
    border-radius: 0;
    width: calc(100% - 150px); }
  .search-form .form-group .btn {
    width: 150px;
    height: 55px;
    background: #ec5c24;
    border-radius: 0;
    font-size: 24px; }
    .search-form .form-group .btn.btn:hover, .search-form .form-group .btn.btn:focus, .search-form .form-group .btn.btn.focus {
      color: #fff; }

.panel-group.faq {
  background: rgba(0, 0, 0, 0.4); }
  .panel-group.faq .panel {
    border: none;
    border-radius: 0; }
    .panel-group.faq .panel + .panel {
      margin-top: 12px; }
  .panel-group.faq .panel-heading {
    border-radius: 0;
    padding: 10px 60px;
    background: #0f0f0f;
    position: relative; }
    .panel-group.faq .panel-heading a {
      text-decoration: none; }
    .panel-group.faq .panel-heading .fa-question {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      text-align: center;
      background: #ec5c24;
      margin-right: 10px; }
    .panel-group.faq .panel-heading .fa-angle-right {
      height: 38px;
      font-size: 30px;
      line-height: 37px;
      position: absolute;
      right: 60px;
      top: 0; }
  .panel-group.faq .panel-body {
    color: #000;
    padding: 15px 60px; }
    .panel-group.faq .panel-body .fa-comment-o {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      width: 24px;
      height: 24px;
      color: #fff;
      line-height: 22px;
      text-align: center;
      background: #2499cf;
      float: left; }
    .panel-group.faq .panel-body p {
      float: right;
      width: calc(100% - 40px); }

/* CAMPAIGN SELECT
========================================================================== */
.campaign-selection-header {
  -webkit-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 0;
  margin: 60px 0 20px; }
  .campaign-selection-header .form-control,
  .campaign-selection-header .input-group {
    width: 100%;
    max-width: 300px;
    border-radius: 0; }
    .campaign-selection-header .form-control .input-group-addon,
    .campaign-selection-header .input-group .input-group-addon {
      border-radius: 0;
      background: inherit; }
    .campaign-selection-header .form-control .form-control,
    .campaign-selection-header .input-group .form-control {
      border-left: none; }
    .campaign-selection-header .form-control:focus,
    .campaign-selection-header .input-group:focus {
      border-color: #ccc; }

.campaign-selection-section .campaign {
  -webkit-box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.4);
  float: left;
  width: 100%;
  margin: 15px 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
  overflow: hidden; }
.campaign-selection-section .campaign-wrapper {
  cursor: pointer;
  overflow: hidden;
  position: relative !important; }
.campaign-selection-section .campaign-wrapper::before {
  content: '';
  display: block;
  padding-top: 100%; }
.campaign-selection-section .campaign-wrapper img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.campaign-selection-section .campaign figure figcaption {
  z-index: 1;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  padding: 2em; }
.campaign-selection-section .campaign figure figcaption,
.campaign-selection-section .campaign figure figcaption > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
.campaign-selection-section .campaign figure figcaption > a {
  opacity: 0;
  font-size: 0;
  text-indent: 200%;
  white-space: nowrap;
  z-index: 10; }
.campaign-selection-section .campaign figure h2 {
  opacity: 0;
  font-size: 22px;
  font-weight: 300;
  word-spacing: -0.15em;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  padding-top: 45%;
  margin: 0; }
.campaign-selection-section .campaign-wrapper::after {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  content: '';
  background: #000; }
.campaign-selection-section .campaign:hover .campaign-wrapper::after {
  opacity: .75; }
.campaign-selection-section .campaign-wrapper figcaption::after,
.campaign-selection-section .campaign-wrapper img {
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s; }
.campaign-selection-section .campaign-wrapper figcaption::after {
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
.campaign-selection-section .campaign-wrapper:hover h2 {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }
.campaign-selection-section .campaign-wrapper:hover figcaption::after {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1); }

/* CAMPAIGN ITEM COMPONENT
========================================================================== */
.campaign-item-section .fa-times {
  cursor: pointer; }
.campaign-item-section .campaign-hero {
  -webkit-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  width: 100%; }
.campaign-item-section .inner-container {
  background: rgba(0, 0, 0, 0.3); }
  .campaign-item-section .inner-container .inner-title {
    font-size: 16px;
    padding: 30px 20px;
    margin: 0; }
  .campaign-item-section .inner-container .nav-tabs {
    border-bottom: none; }
    .campaign-item-section .inner-container .nav-tabs li a {
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      background-clip: padding-box;
      color: #fff;
      border: none;
      cursor: pointer;
      background: #2499cf; }
    .campaign-item-section .inner-container .nav-tabs li.active a {
      background: #006699;
      border: none; }
  .campaign-item-section .inner-container .product-tabs ul.nav {
    background: #006699; }
    .campaign-item-section .inner-container .product-tabs ul.nav li {
      margin: 0;
      cursor: pointer; }
      .campaign-item-section .inner-container .product-tabs ul.nav li a {
        color: rgba(255, 255, 255, 0.3);
        background: #006699; }
    .campaign-item-section .inner-container .product-tabs ul.nav li.active a {
      color: #fff;
      font-weight: bold; }

/* MASTER ITEMS COMPONENT
========================================================================== */
.sub-campaign-section .panel-info,
.sub-campaign-section .panel-footer {
  border: none;
  border-radius: 0; }
.sub-campaign-section .panel-info {
  background: #2b2b2b;
  margin-bottom: 30px; }
.sub-campaign-section .panel-body {
  padding: 50px 15px; }
.sub-campaign-section .asset-item img {
  height: auto;
  cursor: pointer;
  max-width: 300px;
  margin: 0 10px 5px; }
.sub-campaign-section .asset-item .asset-item-details {
  margin: 0 10px 25px; }
  .sub-campaign-section .asset-item .asset-item-details p {
    margin: 0; }
    .sub-campaign-section .asset-item .asset-item-details p .fa-play-circle {
      color: #ec5c24;
      cursor: pointer; }
.sub-campaign-section .panel-footer {
  background: #252525;
  padding: 0 15px 20px; }
  .sub-campaign-section .panel-footer .panel-foot-head {
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 20px 0 10px; }
    .sub-campaign-section .panel-footer .panel-foot-head .fa {
      font-size: 25px;
      cursor: pointer;
      position: absolute;
      top: 2px; }
    .sub-campaign-section .panel-footer .panel-foot-head .toggle-status {
      margin-left: 35px; }
  .sub-campaign-section .panel-footer .custom-input-container {
    margin-bottom: 20px; }
    .sub-campaign-section .panel-footer .custom-input-container i.italic {
      font-style: italic; }
    .sub-campaign-section .panel-footer .custom-input-container input[type="text"] {
      width: 90px;
      height: 28px;
      color: #000;
      border: none;
      outline: none;
      padding: 2px 5px;
      margin-right: 10px; }
    .sub-campaign-section .panel-footer .custom-input-container .add-custom {
      width: auto;
      height: 28px;
      border: none;
      border-radius: 0;
      line-height: 28px;
      background: #2499cf;
      padding: 0 12px; }
      .sub-campaign-section .panel-footer .custom-input-container .add-custom:hover, .sub-campaign-section .panel-footer .custom-input-container .add-custom:focus {
        color: #fff; }
    .sub-campaign-section .panel-footer .custom-input-container .custom-input-error {
      color: #aaa;
      font-style: italic;
      padding: 10px 20px; }

/* REVIEW ITEMS COMPONENT
========================================================================== */
.order-checklist-section {
  -webkit-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-clip: padding-box;
  color: #000;
  background: #e5e5e5;
  margin-bottom: 20px; }
  .order-checklist-section .order-check-head {
    color: #fff;
    background: #000;
    border: 1px solid #acacac;
    border-bottom: 5px solid #acacac;
    margin-bottom: 30px;
    padding: 5px 0; }
    .order-checklist-section .order-check-head h4 {
      font-size: 16px;
      font-weight: bold; }
  .order-checklist-section .sub-heading {
    color: #000;
    font-size: 16px;
    background: #fff;
    border-bottom: 3px solid #acacac;
    padding: 10px 0; }
    .order-checklist-section .sub-heading p {
      position: relative;
      margin: 0; }
      .order-checklist-section .sub-heading p .label {
        position: absolute;
        left: 50%;
        font-size: 100%;
        background: #2499cf;
        margin-left: 80px;
        padding: 3px 20px; }
  .order-checklist-section .panel-info {
    border: none;
    background: transparent;
    margin: 0; }
    .order-checklist-section .panel-info .panel-body {
      padding: 30px 15px; }
      .order-checklist-section .panel-info .panel-body .sub-title {
        color: #2499cf;
        text-transform: uppercase; }
  .order-checklist-section .order-check-foot {
    padding: 30px 0 50px; }
    .order-checklist-section .order-check-foot h5 {
      font-size: 16px;
      margin: 0 0 3px; }
    .order-checklist-section .order-check-foot p {
      font-size: 16px;
      margin: 0; }
    .order-checklist-section .order-check-foot button {
      width: 100%;
      height: 40px;
      max-width: 320px;
      color: #fff;
      margin-top: 20px;
      text-transform: uppercase;
      background: #2499cf;
      border: none; }
      .order-checklist-section .order-check-foot button:hover {
        background: #006699; }

/* FRAME
========================================================================== */
.asset {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .asset .close-btn {
    position: absolute;
    right: 0;
    top: -45px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 32px;
    padding: 0; }
  .asset .asset-item-details .asset-name-select-all,
  .asset .asset-item-details .asset-select {
    padding: 0 5px; }
  .asset .asset-item-details .asset-name-select-all {
    height: 24px;
    line-height: 24px;
    background: #2499cf; }
    .asset .asset-item-details .asset-name-select-all .asset-name {
      text-transform: uppercase;
      margin-right: 15px; }
    .asset .asset-item-details .asset-name-select-all .fa {
      cursor: pointer; }

/* DOWNLOAD FORM
========================================================================== */
.download-container > .row {
  position: relative;
  top: 50vh;
  transform: translateY(-50%); }
  .download-container > .row .close-btn {
    position: absolute;
    right: 15px;
    top: -45px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 32px;
    padding: 0; }
  .download-container > .row .download-form {
    margin-top: 0;
    background: #000;
    -webkit-box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.5);
    -moz-box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 50px 0 rgba(200, 200, 200, 0.5); }
    .download-container > .row .download-form header {
      margin-bottom: 25px; }
      .download-container > .row .download-form header h4 {
        font-size: 18px;
        margin: 0 0 8px; }
      .download-container > .row .download-form header h5 {
        margin: 0; }
    .download-container > .row .download-form .form-group::before {
      content: "*";
      display: block;
      position: absolute;
      font-size: 30px;
      margin-top: -6px;
      margin-left: -15px;
      color: #ec5c24; }
    .download-container > .row .download-form a {
      display: block; }
      .download-container > .row .download-form a .fa-question {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #ec5c24;
        margin-right: 8px; }
    .download-container > .row .download-form .btn-reg {
      background: #2499cf; }

/* USER
========================================================================== */
.user-settings .content-container,
.user-requests .content-container {
  color: #000; }

.user-settings .view-container,
.user-requests .view-container {
  -webkit-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4); }

.user-header {
  -webkit-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 9px -6px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  height: 60px;
  background: #fff;
  margin: 60px 0 20px; }
  .user-header h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }

/* ADMIN - site backend
========================================================================== */
/* ADMIN 
========================================================================== */
.outer-dashboard {
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  /* admin dash */
  /* main content */ }
  .outer-dashboard .nav-container {
    padding-top: 240px; }
    .outer-dashboard .nav-container .admin-nav {
      padding: 0; }
      .outer-dashboard .nav-container .admin-nav li {
        position: relative;
        margin-bottom: 20px; }
        .outer-dashboard .nav-container .admin-nav li a {
          width: 100%;
          height: 60px;
          font-size: 22px;
          text-align: right;
          line-height: 60px;
          text-transform: uppercase;
          color: #b7b7b7;
          background: #212121;
          padding: 0 40px;
          display: block; }
          .outer-dashboard .nav-container .admin-nav li a::after {
            opacity: 0;
            width: 0;
            content: '';
            display: block;
            border-style: solid;
            border-width: 22px 20px 22px 0px;
            border-color: transparent #b7b7b7;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -22px; }
          .outer-dashboard .nav-container .admin-nav li a:hover {
            background: #101010; }
            .outer-dashboard .nav-container .admin-nav li a:hover::after {
              opacity: .2; }
          .outer-dashboard .nav-container .admin-nav li a:focus::after {
            opacity: 1; }
        .outer-dashboard .nav-container .admin-nav li:first-child a::after {
          border-color: transparent #dbdbdb; }
        .outer-dashboard .nav-container .admin-nav li:last-child a {
          font-size: 16px;
          margin-bottom: 0; }
  .outer-dashboard .main-content {
    height: auto;
    min-height: 100vh;
    background: #b7b7b7;
    padding-top: 0; }

/* MEDIA QUERIES 
========================================================================== */
@media (min-width: 992px) {
  .outer-dashboard .main-content {
    padding-top: 240px; } }
/* REQUEST
========================================================================== */
.btn-group {
  width: 100%; }
  .btn-group button.btn {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    width: 50%;
    height: 55px;
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #b7b7b7; }
    .btn-group button.btn:focus {
      border: 0;
      outline: 0;
      background: rgba(0, 0, 0, 0.1); }

.red-caps {
  color: red;
  text-transform: uppercase; }

.blue-caps {
  color: #2499cf;
  text-transform: uppercase; }

.orange-caps {
  color: #ec5c24;
  text-transform: uppercase; }

.view-container.campaign-request .campaign-request-header {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 20px solid transparent; }
  .view-container.campaign-request .campaign-request-header th {
    font-weight: normal; }
  .view-container.campaign-request .campaign-request-header td {
    font-weight: bold; }
.view-container.campaign-request .campaign-request-details {
  background: #dbdbdb;
  box-shadow: inset 0 3px 3px #b7b7b7;
  padding: 40px 60px; }
  .view-container.campaign-request .campaign-request-details .campaign-request-details-footer {
    border-top: 2px solid #fff;
    margin-top: 40px;
    padding-top: 40px; }
    .view-container.campaign-request .campaign-request-details .campaign-request-details-footer ul:last-child {
      margin-bottom: 0; }
    .view-container.campaign-request .campaign-request-details .campaign-request-details-footer ul {
      padding: 0;
      margin-bottom: 20px; }
      .view-container.campaign-request .campaign-request-details .campaign-request-details-footer ul li {
        display: inline-block;
        margin: 0 15px; }
        .view-container.campaign-request .campaign-request-details .campaign-request-details-footer ul li a.download {
          color: #000;
          font-weight: bold;
          font-style: italic;
          border-bottom: 1px solid #000; }
.view-container.campaign-request .campaign-request-details > .row {
  margin: 0; }
.view-container.campaign-request .campaign-request-footer {
  padding: 20px;
  border-top: 1px solid #dbdbdb; }
  .view-container.campaign-request .campaign-request-footer .archive {
    width: 140px;
    height: 32px;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    background: #2499cf;
    color: #fff;
    border: none; }
    .view-container.campaign-request .campaign-request-footer .archive:hover {
      background: #006699; }
  .view-container.campaign-request .campaign-request-footer .show-toggle {
    width: 140px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    position: relative; }
    .view-container.campaign-request .campaign-request-footer .show-toggle:hover {
      background: #e0e0e0; }
    .view-container.campaign-request .campaign-request-footer .show-toggle .fa {
      color: #ec5c24;
      position: absolute;
      font-size: 24px;
      top: 3px;
      left: 16px; }
    .view-container.campaign-request .campaign-request-footer .show-toggle span {
      margin-left: 40px; }

/* DASHBOARD 
========================================================================== */
.admin-dashboard {
  margin-bottom: 25px; }
  .admin-dashboard .form-control {
    width: 100%;
    max-width: 300px;
    border-radius: 0;
    margin: 13px 0; }
  .admin-dashboard .key-marker {
    width: 11px;
    height: 11px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    display: inline-block;
    margin-right: 10px; }
  .admin-dashboard .key-marker.purple {
    background: #bd35bf; }
  .admin-dashboard .key-marker.green {
    background: #007616; }
  .admin-dashboard .key-marker.trans {
    background: transparent; }
  .admin-dashboard p {
    margin: 3px 0; }
  .admin-dashboard .key {
    width: 100%;
    max-width: 300px;
    margin-bottom: 0;
    padding: 20px; }
  .admin-dashboard .campaign-overview {
    width: 100%;
    max-width: 690px;
    background: #dbdbdb;
    padding-top: 40px;
    margin: 25px 0 0; }
    .admin-dashboard .campaign-overview .overview-header {
      -webkit-box-shadow: 0 3px 3px 0 #b7b7b7;
      -moz-box-shadow: 0 3px 3px 0 #b7b7b7;
      box-shadow: 0 3px 3px 0 #b7b7b7;
      background: #fff;
      padding: 10px 20px; }
      .admin-dashboard .campaign-overview .overview-header h4 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase; }
    .admin-dashboard .campaign-overview .overview-body {
      padding: 20px; }
      .admin-dashboard .campaign-overview .overview-body p.greyed {
        color: #8d8d8d; }

/* SETTINGS
========================================================================== */
.view-container.settings {
  padding: 20px; }
  .view-container.settings .settings-container {
    width: 100%;
    max-width: 384px;
    padding: 0 15px;
    margin: 0 auto; }
    .view-container.settings .settings-container h3 {
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .view-container.settings .settings-container .profile-image-container {
      margin-bottom: 50px; }
      .view-container.settings .settings-container .profile-image-container .profile-image {
        -webkit-box-shadow: 0 8px 8px 0 #999;
        -moz-box-shadow: 0 8px 8px 0 #999;
        box-shadow: 0 8px 8px 0 #999;
        width: 100%;
        padding-top: 100%;
        background: #212121;
        margin-bottom: 15px;
        position: relative; }
        .view-container.settings .settings-container .profile-image-container .profile-image .glyphicon {
          font-size: 160px;
          position: absolute;
          color: #444;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .view-container.settings .settings-container .profile-image-container .replace-btn {
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        background: #2499cf;
        color: #fff; }
        .view-container.settings .settings-container .profile-image-container .replace-btn:hover {
          background: #006699;
          color: #fff; }
    .view-container.settings .settings-container .personal-details .form-control {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box;
      height: 40px;
      border-color: #798792; }
      .view-container.settings .settings-container .personal-details .form-control:focus {
        background: #fbded3; }
    .view-container.settings .settings-container .personal-details .save-btn {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      margin: 10px 0 30px; }

/* UPLOAD 
========================================================================== */
.view-container.upload {
  padding: 20px; }
  .view-container.upload form {
    width: 100%;
    max-width: 384px;
    padding: 0 15px;
    margin: 0 auto; }
    .view-container.upload form label {
      text-transform: uppercase;
      margin: 15px 0 5px; }
    .view-container.upload form .form-control {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box;
      height: 40px;
      border-color: #798792;
      background: #f4f4f4; }
      .view-container.upload form .form-control:focus {
        background: #fbded3; }
    .view-container.upload form .drag-drop-container {
      width: 100%;
      overflow: visible;
      position: relative;
      margin-bottom: 15px; }
    .view-container.upload form .drag-drop-container.image-upload {
      padding-bottom: 100%; }
    .view-container.upload form .drag-drop-container.file-upload {
      height: 180px; }
      .view-container.upload form .drag-drop-container.file-upload .dropzone {
        border: 1px dashed #919191; }
        .view-container.upload form .drag-drop-container.file-upload .dropzone:after {
          background: #fff; }
    .view-container.upload form .create-btn {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-clip: padding-box;
      background: #2499cf;
      margin-bottom: 40px;
      border: none;
      color: #fff; }
      .view-container.upload form .create-btn:hover, .view-container.upload form .create-btn:focus {
        background: #006699;
        color: #fff; }
    .view-container.upload form .progress-container {
      margin: 0 0 30px; }
      .view-container.upload form .progress-container .progress {
        margin-bottom: 10px; }
        .view-container.upload form .progress-container .progress .progress-bar {
          background-color: #2499cf; }
      .view-container.upload form .progress-container .alert {
        padding: 6px;
        margin-bottom: 10px; }
        .view-container.upload form .progress-container .alert .alert-link {
          cursor: pointer;
          font-style: italic; }
      .view-container.upload form .progress-container .remove-zip {
        color: #555;
        cursor: pointer;
        font-style: italic; }
    .view-container.upload form .add-campaign {
      padding: 20px;
      margin: 30px 0;
      cursor: pointer;
      border: 1px solid transparent; }
      .view-container.upload form .add-campaign:hover {
        border: 1px solid #cbcbcb; }
      .view-container.upload form .add-campaign .fa-plus {
        width: 35px;
        height: 35px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        background: #ec5c24;
        color: #fff;
        font-size: 24px;
        line-height: 36px; }
      .view-container.upload form .add-campaign p {
        margin: 11px 0 0;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase; }

.panel-group.subcampaigns {
  -webkit-box-shadow: 4px 4px 6px 0 #999;
  -moz-box-shadow: 4px 4px 6px 0 #999;
  box-shadow: 4px 4px 6px 0 #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  padding-bottom: 20px;
  background: #dbdbdb; }
  .panel-group.subcampaigns .panel {
    border: none;
    border-radius: 0;
    margin-bottom: 10px; }
  .panel-group.subcampaigns .panel-heading {
    background: #fff;
    position: relative;
    padding: 10px 40px;
    cursor: pointer; }
    .panel-group.subcampaigns .panel-heading .panel-title {
      height: 32px;
      font-size: 18px;
      line-height: 32px;
      font-weight: bold;
      text-transform: uppercase; }
    .panel-group.subcampaigns .panel-heading .fa-angle-right {
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      color: #ec5c24;
      height: 32px;
      font-size: 38px;
      line-height: 32px; }
    .panel-group.subcampaigns .panel-heading .fa-angle-right.expanded {
      transform: rotate(90deg); }
  .panel-group.subcampaigns .panel-body {
    padding-top: 0;
    background: #dbdbdb; }
    .panel-group.subcampaigns .panel-body .col-md-6 {
      padding: 20px 40px; }
      .panel-group.subcampaigns .panel-body .col-md-6 h5 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 28px; }
      .panel-group.subcampaigns .panel-body .col-md-6 p {
        height: 26px;
        line-height: 26px;
        position: relative; }
        .panel-group.subcampaigns .panel-body .col-md-6 p button {
          -webkit-border-radius: 0;
          border-radius: 0;
          background-clip: padding-box;
          background: #2499cf;
          position: absolute;
          left: 120px;
          color: #fff;
          border: none;
          padding: 3px 11px; }
          .panel-group.subcampaigns .panel-body .col-md-6 p button:hover, .panel-group.subcampaigns .panel-body .col-md-6 p button:focus {
            background: #006699;
            color: #fff; }

/*# sourceMappingURL=styles.css.map */
