/* ADMIN 
========================================================================== */


.outer-dashboard {
    width: 100%;
	background: #333;
    position: absolute;
	top: 0;

	/* admin dash */
	.nav-container {
		padding-top: 240px;

		.admin-nav {
			padding: 0;

			li {
				position: relative;
				margin-bottom: 20px;

				a {
					@include size(100%, 60px);
					font-size: 22px;
					text-align: right;
					line-height: 60px;
					text-transform: uppercase;
					color: #b7b7b7;
					background: #212121;
					padding: 0 40px;
					display: block;

					&::after {
						opacity: 0;
				    	width: 0;
				    	content: '';
				    	display: block;
				    	border-style: solid;
				    	border-width: 22px 20px 22px 0px;
				    	border-color: transparent #b7b7b7;
				    	position: absolute;
				    	top: 50%;
				    	right: 0;
				    	margin-top: -22px;
					}

					&:hover { 
						background: #101010;
						&::after { opacity: .2; }
					}

					&:focus::after { opacity: 1; }
				}

				&:first-child a::after { border-color: transparent #dbdbdb; }

				&:last-child a {
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}
	}

	/* main content */
	.main-content {
		height: auto;
		min-height: 100vh;
		background: #b7b7b7;
		padding-top: 0;
	}
}


/* MEDIA QUERIES 
========================================================================== */
@media (min-width: 992px) {
	.outer-dashboard .main-content {
		padding-top: 240px;
	}
}
