/* DASHBOARD 
========================================================================== */


.admin-dashboard {
	margin-bottom: 25px;

	.form-control {
		width: 100%;
		max-width: 300px;
		border-radius: 0;
		margin: 13px 0;
	}

	.key-marker {
		@include size(11px);
		@include border-radius(50%);
		display: inline-block;
		margin-right: 10px;
	}

	.key-marker.purple { background: #bd35bf; }
	.key-marker.green { background: #007616; }
	.key-marker.trans { background: transparent; }

	p { margin: 3px 0; }

	.key {
		width: 100%;
		max-width: 300px;
		margin-bottom: 0;
		padding: 20px;
	}

	.campaign-overview {
		width: 100%; 
		max-width: 690px;
		background: #dbdbdb;
		padding-top: 40px;
		margin: 25px 0 0;

		.overview-header {
			@include box-shadow(0, 3px, 3px, 0, #b7b7b7);
			background: #fff;
			padding: 10px 20px;

			h4 {
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.overview-body {
			padding: 20px;

			p.greyed { color: #8d8d8d; }
		}
	}
}
