/* REQUEST
========================================================================== */


// button group
.btn-group { 
	width: 100%;
			
	button.btn {
		@include border-radius(0);
		@include size(50%, 55px);
		color: #fff;
		font-size: 18px;
		background: rgba(0,0,0,.3);
		border: 1px solid #b7b7b7;

		&:focus {
			border: 0;
			outline: 0;
			background: rgba(0,0,0,0.1);
		}
	}
}


// campaign request
.red-caps {
	color: red;
	text-transform: uppercase;
}

.blue-caps {
	color: $primary-blue;
	text-transform: uppercase;
}

.orange-caps {
	color: $primary-orange;
	text-transform: uppercase;
}

.view-container.campaign-request {

	// header
	.campaign-request-header {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
		border: 20px solid transparent;

		th { font-weight: normal; }

		td { font-weight: bold; }
	}

	// expanded view content
	.campaign-request-details {
		background: #dbdbdb;
		box-shadow: inset 0 3px 3px #b7b7b7;
		padding: 40px 60px;

		.campaign-request-details-footer {
			border-top: 2px solid #fff;
			margin-top: 40px;
			padding-top: 40px;

			ul:last-child { margin-bottom: 0; }

			ul { 
				padding: 0;
				margin-bottom: 20px;

				li {
					display: inline-block;
					margin: 0 15px;

					a.download {
						color: #000;
						font-weight: bold;
						font-style: italic;
						border-bottom: 1px solid #000;
					}
				}
			}
		}
	}

	.campaign-request-details > .row { margin: 0; }

	// footer
	.campaign-request-footer {
		padding: 20px;
		border-top: 1px solid #dbdbdb;

		.archive {
			@include size(140px, 32px);
			@include border-radius(0);
			background: $primary-blue;
			color: #fff;
			border: none;

			&:hover { background: $primary-blue-hover; }
		}

		.show-toggle {
			@include size(140px, 32px);
			line-height: 32px;
			font-weight: bold;
			position: relative;

			&:hover { background: #e0e0e0; }

			.fa {
				color: $primary-orange;
				position: absolute;
			    font-size: 24px;
    			top: 3px;
    			left: 16px;
			}

			span { margin-left: 40px; }
		}
	}
}
