/* SETTINGS
========================================================================== */

.view-container.settings{
	padding: 20px;

	.settings-container {
		width: 100%;
		max-width: 384px;
		padding: 0 15px;
		margin: 0 auto;

		h3 {
			font-size: 20px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		// profile image
		.profile-image-container {
			margin-bottom: 50px;

			.profile-image {
				@include box-shadow(0, 8px, 8px, 0, #999);
				width: 100%;
				padding-top: 100%;
				background: #212121;
				margin-bottom: 15px;
				position: relative;
				// background-image: url('./assets/avatar.jpg');
				// background-repeat: no-repeat;
				// background-position: center;
				// background-size: cover;

				.glyphicon {
					font-size: 160px;
					position: absolute;
					color: #444;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.replace-btn {
				@include border-radius(0);
				background: $primary-blue;
				color: #fff;

				&:hover { 
					background: $primary-blue-hover;
					color: #fff;
				}
			}
		}

		// personal details
		.personal-details {

			.form-control {
				@include border-radius(0);
				height: $form-el-height;
				border-color: $form-border-color;

				&:focus {
					background: #fbded3;
				}
			}

			.save-btn {
				@include border-radius(0);
				background: rgba(0, 0, 0, 0.4);
				width: 100%;
				color: #fff;
				font-size: 20px;
				text-transform: uppercase;
				margin: 10px 0 30px;
			}
		}
	}
}
