/* UPLOAD 
========================================================================== */


.view-container.upload {
	padding: 20px;

	form {
		width: 100%;
		max-width: 384px;
		padding: 0 15px;
		margin: 0 auto;

		label {
			text-transform: uppercase;
			margin: 15px 0 5px;
		}

		.form-control {
			@include border-radius(0);
			height: $form-el-height;
			border-color: $form-border-color;
			background: #f4f4f4;

			&:focus {
				background: #fbded3;
			}
		}

		.drag-drop-container {
			width: 100%;
			overflow: visible;
			position: relative;
			margin-bottom: 15px;
		}

		.drag-drop-container.image-upload { padding-bottom: 100%; }

		.drag-drop-container.file-upload { 
			height: 180px;

			.dropzone { 
				border: 1px dashed #919191;

				&:after { background: #fff; }
			}
		}

		.create-btn { 
			@include border-radius(0);
			background: $primary-blue;
			margin-bottom: 40px;
			border: none;
			color: #fff;

			&:hover,
			&:focus { 
				background: $primary-blue-hover;
				color: #fff;
			}
		}

		.progress-container {
			margin: 0 0 30px;

			.progress{
				margin-bottom: 10px; 

				.progress-bar { background-color: $primary-blue; }
			}

			.alert {
				padding: 6px;
				margin-bottom: 10px;

				.alert-link {
					cursor: pointer;
					font-style: italic;
				}
			}

			.remove-zip { 
    			color: #555;
				cursor: pointer;
				font-style: italic;
			}
		}

		.add-campaign {
			padding: 20px;
			margin: 30px 0;
			cursor: pointer;
			border: 1px solid transparent;

			&:hover { border: 1px solid #cbcbcb; }

			.fa-plus {
				@include size(35px);
				@include border-radius(50%);
				background: $primary-orange;
				color: #fff;
				font-size: 24px;
				line-height: 36px
			}

			p {
				margin: 11px 0 0;
    			font-size: 20px;
    			font-weight: bold;
    			text-transform: uppercase;
			}
		}
	}
}


// panel section
.panel-group.subcampaigns {
	@include box-shadow(4px, 4px, 6px, 0, #999);
	@include border-radius(10px);
	padding-bottom: 20px;
	background: #dbdbdb;

	.panel {
		border: none;
		border-radius: 0;
		margin-bottom: 10px;
	}

	.panel-heading {
		background: #fff;
		position: relative;
		padding: 10px 40px;
		cursor: pointer;

		.panel-title {
			height: 32px;
			font-size: 18px;
			line-height: 32px;
    		font-weight: bold;
    		text-transform: uppercase;
		}

		.fa-angle-right {
			@include transition(all, 0.1s, linear);
			color: $primary-orange;
			height: 32px;
			font-size: 38px;
			line-height: 32px;
		}

		.fa-angle-right.expanded {
			transform: rotate(90deg);
		}
	}

	.panel-body {
		padding-top: 0;
		background: #dbdbdb;

		.col-md-6 {
			padding: 20px 40px;

			h5 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 28px;
			}

			p {
				height: 26px;
    			line-height: 26px;
				position: relative;

				button {
	    			@include border-radius(0);
					background: $primary-blue;
				    position: absolute;
	    			left: 120px; 
					color: #fff;
					border: none;
					padding: 3px 11px;

					&:hover,
					&:focus { 
						background: $primary-blue-hover;
						color: #fff;
					}	
				}
			}
		}
	}
}