<div class="container content-container">
  <div class="hgroup text-center">
    <i class="fa fa-question" aria-hidden="true"></i>
		<h1>Welcome to Frequently Asked Questions</h1>
  </div>

  <!-- search -->
  <form class="search-form" role="search">
    <div class="form-group clearfix">
      <input type="text" class="form-control pull-left" placeholder="Search here or use the list of drop downs below">
      <button type="submit" class="btn pull-left">
        <span class=" glyphicon glyphicon-search"></span>
      </button>
    </div>
  </form>

  <!-- faq accordion -->
  <div class="panel-group faq" id="faq-accordion" role="tablist" aria-multiselectable="true">

    <div class="panel">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-question" aria-hidden="true"></i>
            Lorem Ipsum #1
          </a>
        </h4>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <i class="fa fa-comment-o" aria-hidden="true"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-question" aria-hidden="true"></i>
            Lorem Ipsum #2
          </a>
        </h4>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dolor lectus, finibus eu orci at, accumsan iaculis orci...
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-question" aria-hidden="true"></i>
            Lorem Ipsum #3
          </a>
        </h4>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dolor lectus, finibus eu orci at, accumsan iaculis orci...
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-question" aria-hidden="true"></i>
            Lorem Ipsum #4
          </a>
        </h4>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dolor lectus, finibus eu orci at, accumsan iaculis orci...
        </div>
      </div>
    </div>

  </div><!--/.panel-group-->

</div><!--/.faq-container-->