
<form class="sub-campaign-form">

  <!-- drag and drop -->
  <label>Zip Upload</label>
  <div class="drag-drop-container file-upload" appDragDrop (fileEvent)="getFileOnDrop($event)" >
    <div class="dropzone">
      <input type="file" name="file">
    </div><!--/.dropzone-->
  </div><!--/.drag-drop-container-->
  <label>Sub-Campaign name</label>
  <div class="form-group">
    <input type="text" class="form-control">
  </div><!--/.form-group-->

  <div *ngFor="let file of fileArray">
    <app-progress-bar [errors]="errors"
                      [progressValue]="progressValue"
                      [upLoadComplete]="upLoadComplete"
                      [subFileData]="file"
                      [progressVisible]="progressVisible"
                      [fileArray]="fileArray"
                      [productsArray]="productsArray"></app-progress-bar>
  </div>



  <!-- add sub-campaign -->
  <div class="add-campaign text-center">
    <i class="fa fa-plus"></i>
    <p>Add sub-campaign</p>
  </div>

</form>
