<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-3 col-sm-2"></div>

    <div class="col-lg-4 col-md-6 col-sm-8">
      <form class="base-form reg-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p>Back to <a [routerLink]="['/']">login</a> page</p>

        <!-- first name -->
        <div class="form-group">
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Client Name">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">
            Invalid Name
          </span>
        </div>

        <!-- surname name -->
        <div class="form-group">
          <input type="text" id="surname" class="form-control" formControlName="surname" placeholder="Client Surname">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['surname'].valid && registerForm.controls['surname'].touched">
            Invalid Surname
          </span>
        </div>

        <!-- market -->
        <div class="form-group">
          <input type="text" id="market" class="form-control" formControlName="market" placeholder="Market">
          <i class="fa fa-flag" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['market'].valid && registerForm.controls['market'].touched">
            Invalid Company name
          </span>
        </div>

        <!-- password -->
        <div class="form-group">
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
            Password must be 8 characters minimum in length
          </span>
        </div>

        <!-- email -->
        <div class="form-group">
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
            Invalid Email
          </span>
        </div>

        <!-- invitation code -->
        <!-- <div class="form-group">
          <input type="text" id="invitation" class="form-control" formControlName="invitation" placeholder="Invitation Code">
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['invitation'].valid && registerForm.controls['invitation'].touched">
            Invalid invitation code
          </span>
        </div> -->

        <!-- company -->
        <div class="form-group">
          <input type="text" id="company" class="form-control" formControlName="company" placeholder="Company">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="invalid-msg" *ngIf="!registerForm.controls['company'].valid && registerForm.controls['company'].touched">
            Invalid Company name
          </span>
        </div>

        <div class="check-container clearfix">
          <div class="checkbox pull-left">
            <input type="checkbox" id="terms" formControlName="terms" [checked]="true">
            <label for="terms"></label>
          </div>
          <span>Accept <a href="">T&amp;C*</a></span>
          <div *ngIf="!registerForm.controls['terms'].value">
            <span class="invalid-msg">Please accept the terms & conditions</span>
          </div>
        </div>

        <button class="btn btn-reg" [disabled]="!registerForm.valid || !registerForm.controls['terms'].value" >Register</button>
      </form>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2"></div>

  </div>
</div><!-- END .container-->