/* CAMPAIGN SELECT
========================================================================== */


// campaign selection header
.campaign-selection-header {
	@include box-shadow(0, 12px, 9px, -6px, rgba(0,0,0,.4));
	@include size(100%, auto);
	background: #fff;
	padding: 10px 0;
	margin: 60px 0 20px;

	.form-control,
	.input-group {
		width: 100%;
		max-width: 300px;
		border-radius: 0;

		.input-group-addon {
			border-radius: 0;
			background: inherit;
		}

		.form-control { border-left: none; }

		&:focus { border-color: #ccc; }
	}
}


// campaign selection section
.campaign-selection-section {

	// campaign selection grid items
	.campaign {
    	@include box-shadow(6px, 6px, 9px, 0, rgba(0, 0, 0, 0.4));
	    float: left;
	    width: 100%;
	    margin: 15px 0;
    	border: 2px solid rgba(255, 255, 255, .4);
	    overflow: hidden;
	}

	.campaign-wrapper {
	    cursor: pointer;
	    overflow: hidden;
	    position: relative !important;
	}

	.campaign-wrapper::before {
	    content: '';
	    display: block;
	    padding-top: 100%;
	}

	.campaign-wrapper img {
		@include size(auto, 100%);
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
	        -ms-transform: translate(-50%,-50%);
	            transform: translate(-50%,-50%);
	}

	.campaign figure figcaption {
	    z-index: 1;
	    color: #fff;
	    font-size: 1.25em;
	    text-align: center;
	    text-transform: uppercase;
	    padding: 2em;
	}

	.campaign figure figcaption,
	.campaign figure figcaption > a {
		@include size(100%);
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	.campaign figure figcaption > a {
	    opacity: 0;
	    font-size: 0;
	    text-indent: 200%;
	    white-space: nowrap;
	    z-index: 10;
	}

	.campaign figure h2 {
		opacity: 0;
	    font-size: 22px;
	    font-weight: 300;
	    word-spacing: -0.15em;
		-webkit-transform: scale3d(0.8,0.8,1);
				transform: scale3d(0.8,0.8,1);
		-webkit-transition: -webkit-transform .3s;
				transition: transform .3s;
	    padding-top: 45%;
		margin: 0;
	}

	.campaign-wrapper::after {
		@include transition(opacity, .3s, linear);
		@include size(100%);
	    position: absolute;
	    top: 0;
	    opacity: 0;
	    content: '';
	    background: #000;
	}

	.campaign:hover .campaign-wrapper::after { opacity: .75; }

	.campaign-wrapper figcaption::after,
	.campaign-wrapper img {
		-webkit-transition: opacity .3s, -webkit-transform .3s;
				transition: opacity .3s, transform .3s;
	}

	.campaign-wrapper figcaption::after {
		@include size(100%);
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
				transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
	}

	.campaign-wrapper:hover h2 {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);
	}

	.campaign-wrapper:hover figcaption::after {
		opacity: 1;
		-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
				transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	}
}